@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --color-bg: #f5e8d8;
  --color-bg-nav: #f5e8d8c5;
  --color-bg-weak: #ece2d1;
  --color-text: #1c1c1c;
  --color-accent1: #ff4500;
  --color-accent2: #daa520;
  --color-hover: #ff6f61;
  --round-base: 5px;
}

:root.dark {
  --color-bg: #1c1c1c;
  --color-bg-nav: #1c1c1cc5;
  --color-bg-weak: #262626;
  --color-text: #f5e8d8;
  --color-accent1: #ff6f61;
  --color-accent2: #daa520;
  --color-hover: #ff4500;
}

::selection,
::-moz-selection {
  background: var(--color-accent1);
  color: var(--color-bg);
}

body {
  background: var(--color-bg);
  overflow-x: hidden;

  color: var(--color-text);
  font-family: Nunito, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  height: 100dvh;
  margin: 0;
}

#__nuxt {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

pre,
code {
  font-family: "JetBrains Mono", monospace;
}

ul {
  list-style-type: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: var(--color-bg-weak);
  border: 0;
  border-radius: var(--round-base);
  gap: 0.625rem;
  cursor: pointer;

  color: var(--color-text);
}

.underline-link {
  position: relative;
  text-decoration: none;
}

.underline-link:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.125rem;
  background-color: var(--color-accent1);
  border-radius: var(--round-base);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 125ms ease;
}


.underline-link:hover:after,
.underline-link.active:after {
  width: 100%;
  transform: scaleX(1);
  transform-origin: left;
}